<h2>月間シフト表（ダミー）</h2>
<table border="1">
  <thead>
    <tr>
      <th>日付</th>
      <th>user1</th>
      <th>taro</th>
      <th>hanako</th>
      <th>sachiko</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10/1</td>
      <td>○</td>
      <td></td>
      <td>○</td>
      <td></td>
    </tr>
    <tr>
      <td>10/2</td>
      <td></td>
      <td>○</td>
      <td></td>
      <td>○</td>
    </tr>
    <tr>
      <td>10/3</td>
      <td>○</td>
      <td>○</td>
      <td></td>
      <td>○</td>
    </tr>
  </tbody>
</table>
