body {
  font-family: sans-serif;
  font-size: 1.0em;
  padding: 0em 1em;
  background-color: #f0f9ff;
}

/* ナビゲーション */
nav {
  margin: 10px 0;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #ddd;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.2s;
}

nav a:hover {
  background-color: #e9ecef;
}

nav a[href="/shifts"] {
  color: #007bff;
}

nav a[href="/schedule"] {
  color: #28a745;
}

nav a[href="/login"] {
  color: #dc3545;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: darkblue;
}

p {
  padding: 5px 10px;
}

li {
  margin: 5px 0px;
  border-bottom: lightgray 1px solid;
}

.card .title {
  margin:5px 0px;
  padding: 0px;
  font-size: 0.9em;
  font-weight: bold;
}

label {
  display: block;
  margin: 5px 0px 0px 0px;
  font-size: 0.9em;
  font-weight: bold;
}

input {
  display: block;
  border: darkgray 1px solid;
  border-radius: 0.25em;
  color: black;
  background-color: white;
  padding: 5px 10px 5px 10px;
  margin: 3px 0px 5px -5px;
  min-width: 300px;
  font-size: 0.9em;
}

button {
  border: lightgray 1px solid;
  border-radius: 0.25em;
  color: white;
  background-color: gray;
  padding:5px 25px;
  margin: 5px 0px 10px 0px;
  font-size: 0.9em;
}

button.mini {
  border: gray 1px solid;
  border-radius: 0.3em;
  color: black;
  background-color: lightgray;
  padding:3px 7px;
  margin: 0px 0px 5px 10px;
  font-size: 0.7em;
}